
button.sign-in.google-drive:before {
  background: URL('drive-32.png') center center no-repeat #ddd;
}

button.sign-in.google-drive:hover:before, button.sign-in.google-drive:focus:before {
  background: URL('drive-32.png') center center no-repeat #dd4b39;
}

button.sign-in.google-drive:hover > p {
  color: #dd4b39;
}

/* :focus or :active */
button.sign-in.google-drive:focus {
  color: #fff;
  background: #dd4b39;
}

button.sign-in.google-drive:focus > p {
  color: #fff;
}
