
button.sign-in.dropbox:before {

  background: URL('dropbox-logos_dropbox-glyph-blue.png') center center no-repeat #ddd;
  background-size: 48px;
}

button.sign-in.dropbox:hover:before, button.sign-in.dropbox:focus:before {
  background: URL('dropbox-logos_dropbox-glyph-white.png') center center no-repeat #007ee5;
  background-size: 48px;
}

button.sign-in.dropbox:hover > p {
  color: #007ee5;
}

/* :focus or :active */
button.sign-in.dropbox:focus {
  color: #fff;
  background: #007ee5;
}

button.sign-in.dropbox:focus > p {
  color: #fff;
}
